<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>恨水无伤|小说</title>
</head>

<body>

    <div id="novels">
        <% if (list.length) { %>
            <ul>
                <% for(var i = 0; i < list.length; i++) { %>
                    <li>
                        <h3>
                            <a href="/novels/<%= list[i]._id %>">
                                <%= list[i].title %>
                            </a>
                        </h3>
                        <p>
                            <%= list[i].author %>
                        </p>
                        <p>
                            <%= list[i].type %>
                        </p>
                        <img src="<%= list[i].coverImg %>">
                    </li>
                    <% } %>
            </ul>
            <% } %>
                <% if (content) { %>
                    <div class="icontent">
                        <h3>
                            <%= content.title %>
                        </h3>
                        <div class="ibox">
                            <%- content.content %>
                        </div>
                        <% if (content.chapter != 1) { %>
                            <a href="<%= '/novels/5964aa890fb2c93b04970390?chapter='+ (content.chapter - 1) %>">上一章</a>
                            <% } %>
                                <a href="<%= '/novels/5964aa890fb2c93b04970390?chapter='+ (content.chapter + 1) %>">下一章</a>
                    </div>
                    <% } %>
    </div>

    <!--
    <script src="/dist/js/novels.js"></script>
    -->
</body>

</html>